<h1>Registerd Doctors</h1>

<table class="table table-striped">
     <thead>
    <tr>
        
        <th>fullname</th>
        <th>email</th>
        <th>mobile</th>
        <th>city</th>
        <th>specified</th>
    </tr>
    </thead>
    <tbody >
    {{#each data}}
    <tr>
       
        <td>{{this.fullname}}</td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.city}}</td>
        <td>{{this.specified}}</td>
        <td>
            {{!-- <a href="/admin/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a> --}}
          {{!-- <a href="/admin/delete/{{this._id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a> --}}
        </td>
    </tr>
    
    {{/each}}
    </tbody>
</table>
</div>