
<div class="main">
    <div class="head">
{{>header}}
    </div>
    <div class="right">

<div class="container" style="float: left;
    margin-top: 153px;margin-left: -89px;">    
    
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
       
        
        <div class="panel panel-default" style="margin-top: -61px;" >
            <div class="panel-heading">
                <div class="panel-title text-center" style="text-transform: uppercase; font-size:12px;">patient {{hell.name}}'s prescription</div>
            </div>     

       

                <form name="form" id="form" class="form-horizontal"  action="/doctor/consult?id={{hell.email}}" method="post">
                   
                    <div class="input-group">
                       
                        <input type="hidden" id="email" type="text" class="form-control" name="email" value="{{hell.email}}" placeholder="email">                                        
                    </div>

                    <div class="input-group">
                                                <input id="medicine" type="medicine" class="form-control" name="medicine" placeholder="medicine" >
                      
                    </div> 
                     <button type="submit" href="#" id="add" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Add</button>   
                    <div class="table" style="margin-left: 66px;">
                   
                        
<ul id="med-list" >

</ul>
                          
 <textarea id="comments" type="text" class="clearfix" name="comments" placeholder="comments" style="    margin-top: 41px;
    margin-left: -55px;"></textarea>
<button type="submit" style="    margin-left: -89px;
    margin-top: 101px;
    position: fixed;" >Submit</button>
   <a href="/doctor/done/{{hell.id}}" onclick="return confirm('Click OK to mark  {{this.name}} finished conslting ');"><button type="button" class="btn btn-success">Done</button></a>
 
                    </div>
                                                                                

                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                                                  
                        </div>
                    </div>

                </form>     

            </div>                     
        </div>  
    </div>

    </div>
    <div class="left">

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable" style="    overflow: overlay;">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-transform: uppercase;  font-size:12px; text-align:center">{{hell.name}}'s Details And History </h3>
              
            </div>
            <table class="table">
                <thead>

                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                         <th><input type="text" class="form-control" placeholder="Mobile" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Age" disabled></th>
                         <th><input type="text" class="form-control" placeholder="id" disabled></th>
         <th></th>
                    </tr>
                </thead>
     <tbody >

    <tr>
        <td>{{hell.email}}</td>
               <td>{{hell.name}}</td>
                      <td>{{hell.mobile}}</td>
                             <td>{{hell.age}}</td>
                              <td>{{hell._id}}</td>
                             <td> <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">History</button></td>
                            
    </tr>

    </tbody>
  

            </table>
              <div id="demo" class="collapse">

    <table class="table">
                <thead>
                    <tr class="filters">
                        
                        <th><input type="text" id="med" class="form-control" placeholder="Medicines" disabled></th>
                        <th><input type="text" id="med" class="form-control" placeholder="Comments" disabled></th>
                        <th><input type="text" id="med" class="form-control" placeholder="Date" disabled></th>
            
                
                    </tr>
                </thead>
       <tbody >
   {{#each medicines}}
    <tr>
    
        <td>{{this.medicines}}</td>
        <td>{{this.comments}}</td>
        <td>{{this.date}}</td>
     
{{/each}}
    </tbody>
            </table>
        </div>
    </div>
</div>
</div>
  </div>
        </div>
    </div>
</div>
</div> 
    </div>

{{!-- new form script --}}
<script>
$(document).ready(function(){
    $('#add').on('click',function(event){
event.preventDefault();
let medicine = $("#medicine").val();
$.ajax({
    url:'/doctor/ajax',
    method:'post',
    data:{
        medicine:medicine
    },
    success:function(res){
$("#med-list").append($('<li>').text(medicine))
    }
})


    })
})
    

</script>


<style>

    .container{
      margin-top: 143px;
    float: left;
    margin-right: -34px;
    width: 50%;
}

@media (min-width: 1200px){
.container {
    width: 50%;
}
}
.main {
    height: 469px;
}




footer.container{
    float: none;
}


#med{
    background-color:lightblue
}


</style>