{{>header}}
<div class="container" style="background-color: rgb(255, 215, 0);">
<h2>Patients list</h2>
<table class="table table-striped">
     <thead>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>mobile</th>
        <th>city</th>
        <th>blood</th>

    </tr>
    </thead>
    <tbody >
    {{#each data}}
    <tr>
        <td><a href="/doctor/views/?id={{this.email}}">{{this.name}}</a></td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.city}}</td>
        <td>{{this.blood}}</td>
        </td>

    </tr>
    {{/each}}
    </tbody>
</table>
</div>