{{>header}}
{{!-- <div class="container" style="background-color: rgb(255, 215, 0);">
<h2>Patients list</h2>
<table class="table table-striped">
     <thead>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>mobile</th>
        <th>city</th>
        <th>blood</th>

    </tr>
    </thead>
    <tbody >
    {{#each data}}
    <tr>
        <td><a href="/doctor/views/?id={{this.email}}">{{this.name}}</a></td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.city}}</td>
        <td>{{this.blood}}</td>
        </td>

    </tr>
    {{/each}}
    </tbody>
</table>
</div> --}}

{{!--  xx --}}

<div class="container" style="margin-top: 112px;">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Expired Appointments</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        
                        <th><input type="text" class="form-control" placeholder="Name" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                        <th><input type="text" class="form-control" placeholder="mobile" disabled></th>
                        <th><input type="text" class="form-control" placeholder="city" disabled></th>
                        <th><input type="text" class="form-control" placeholder="blood" disabled></th>
                    </tr>
                </thead>
     <tbody >
    {{#each data}}
    <tr>
        <td><a href="/doctor/views/?id={{this.email}}">{{this.name}}</a></td>
        <td>{{this.email}}</td>
        <td>{{this.mobile}}</td>
        <td>{{this.city}}</td>
        <td>{{this.blood}}</td>
        </td>

    </tr>
    {{/each}}
    </tbody>
            </table>
        </div>
    </div>
</div>
</div>