<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{doctor.name}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/patient/list">Appointments list</a></li>
       

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/patient/prlist">view patient</a></li>
      <li><a href="/doctor/logout">Logout</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


   

<div class="container"></div>

<div class=" row">
    <div style="padding-left: 280px; padding-top:120px">
   <div  class="col-sm-8 offset-md-6" style="background-color: rgb(13, 15, 15);margin-top: 25px;padding-bottom:20px;padding-top:20px">
        <h1>My Details</h1>
        
       
        <form action="/doctor/profile" method="post">
 <div class="form-group col-md-6">
    <label for="staticEmail" class="col-md-3 col-form-label">Name</label>
    <div class="col-md-6">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.name}}">
    </div>
  </div>
 <div class="form-group col-md-6">
    <label for="staticEmail" class="col-md-3 col-form-label">Email</label>
    <div class="col-md-6">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.email}}">
    </div>
  </div>
   <div class="form-row">
   <div class="form-group col-md-6">
    <label for="staticEmail" class="col-md-3 col-form-label">Mobile</label>
    <div class="col-md-6">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.mobile}}">
    </div>
  </div>
   <div class="form-group col-md-6">
    <label for="staticEmail" class="col-md-3 col-form-label">City</label>
    <div class="col-md-8">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.city}}">
    </div>
    <div class="form-row" >
     <div class="form-group col-sm-2" >
    <label for="staticEmail" class="col-md-6 col-form-label">Blood</label>
    <div class="col-md-8">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.blood}}">
    </div>
     <div class="form-group col-md-6">
    <label for="staticEmail" class="col-md-6 col-form-label">Specialized</label>
    <div class="col-md-8">
      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{doctor.specialized}}">
    </div>
  </div>
  </div>
 </form>
       