{{>header}}
<div style="padding-top:45px">
<div class="container" style="background-color: rgb(85, 85, 92);">
    
<h1>
   Patient  {{single.name}}'s History
</h1>

<table class="table table-striped">
     <thead>
    <tr>
         <th>email</th>
        <th>Name</th>
        <th>Age</th>       
        <th>Date</th>
        <th>Time</th>
        <th>Doctor</th>
        <th>Specified</th>
     
    </tr>
    </thead>
    <tbody >
   {{#each single}}
    <tr>
        <td>{{this.email}}</td>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        <td>{{this.date}}</td>
        <td>{{this.time}}</td>
        <td>{{this.doctor}}</td>
        <td>{{this.specified}}</td>
    </tr>
{{/each}}
    </tbody>
</table>
</div>
</div>