<div class="main">
  <div class="top">
    {{>header2}}
  </div>
  <div class="mid">

        
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        
        
        <div class="panel panel-default" style="margin-top: 127px;">
            <div class="panel-heading">
                <div class="panel-title text-center">Hello  {{patient.name}}</div>
            </div>     

                <form name="form" id="form" class="form-horizontal"  action="/patient/profile" method="post">
                  
                        
                        <input  type="hidden" class="form-control" name="email" placeholder="Name" value="{{patient.email}}">
                   

                   <div>
                     <p class="btn btn success" style="padding-left: 146px;
    padding-top: 17px; text-transform: uppercase;">Please fill this form to book your appoitnment</p>
                   </div>
                  
                        <input  type="hidden" class="form-control" name="name"  placeholder="email"  value="{{patient.name}} ">                                      
                  

                  

                       
                        <input  type="hidden" class="form-control" name="mobile" placeholder="mobile" value="{{patient.mobile}} ">
                     
                      <div class="input-group">
                        
                        <input type="number" class="form-control" name="age" placeholder="age in numbers"  min="5" max="120"   >
                    </div>     

                    <div class="input-group">
              
                        <input  type="date" class="form-control" name="date" placeholder="date" required>
                    </div>  

                     <div class="input-group">
                       
       
      <select id="doctor" class="form-control"  name="doctor" required>
        <option selected>doctor..</option>
       {{#each doctor}}
        <option >{{this.name}}</option>
        {{/each}}
        </div>
      </select>

      <div class="form-group col-sm-6" style="margin-left: 0px;
    margin-right: 17px;
    margin-top: 34px;">
     
      <select id="specified" class="form-control"  name="specified" required>
        <option selected>specilized..</option>
       	<option value="Gynaecology">Gynaecology</option>                                    
				<option value="Haematology">Haematology</option>
         <option value="Nephrology">Nephrology</option>
				<option value="Neurology">Neurology</option>
         <option value="Oncology">Oncology</option>
				<option value="Ophthalmology">Ophthalmology</option>
       <option value="Orthopaedics">Orthopaedics</option>
        </div>
      </select>
       <div class="form-group col-md-4 clearfix "  > 
            <button type="submit" class="btn btn-primary pull-left " style="margin-top: 28px;
    margin-left: 31px;">ADD</button>
            </div>
                </form>
    </div>     
    </div> 

  </div>

</div>